.searchInputs {
  display: flex;
  align-items: center;


  input {
    margin-right: 5px; /* Add some spacing between input and icon */
  }
  .searchIcon {    
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .searchIcon:hover {
      background-color: #555;
    }
}