/* App.css */

.App {
  display: flex;
  width: 100%;
  min-height: 97vh;
}

main {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  width: calc(100% - 100px); /* Utilisez calc pour soustraire la largeur de la Taskbar */
  margin-left: 100px; /* Ajoutez une marge gauche pour la Taskbar */
}
